<div class="main-page">
    <!-- Include the carousel component -->
  <app-movie-carousel></app-movie-carousel>
  
    <div class="overlay-content">
      <h1>
        AnguFlix
      </h1>
      <p> Manage your list of favorite movies! </p>
    </div>
    <div class="background-overlay"></div>

    <div class="button-container">
      <button
        class="welcome-button"
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Sign Up
      </button>
      <button
        class="welcome-button"
        mat-raised-button
        color="primary"
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
      >
        Login
      </button>
    </div>
  </div>