    <div class="movies-container">
        <nav>
            <button mat-button (click)="redirectProfile()">User Profile</button>
            <button mat-button (click)="logout()">Logout</button>
        </nav>
        <div class="title">
            <h1>AnguFlix</h1>
            <p>Manage your list of favorite movies!</p>
        </div>
        <div class="movie-card-container">
            <mat-card *ngFor="let movie of movies;" class="movie-card">
                <mat-card-header>
                    <mat-card-title>{{movie.Title}}</mat-card-title>
                    <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
                </mat-card-header>
                <div class="movie-container">
                    <img class="movie-card-img" src={{movie.ImagePath}} alt= {{movie.Title}}/>
                    <hr/>
                    <mat-card-actions class="mat-actions">
                        <button
                        mat-button
                        color="primary"
                        (click)="showGenre(movie)">
                        Genre
                    </button>
                        <button
                        mat-button
                        color="primary"
                        (click)="showDirector(movie)">
                        Director
                    </button>
                        <button
                        mat-button
                        color="primary"
                        (click)="showDetail(movie)">
                        Synopsis
                    </button>
                    <button mat-icon-button color="primary" (click)="toggleIcon(movie)">
                        <mat-icon *ngIf="!isFavorite(movie)" style="transform: scale(1.5);" color="primary">favorite_border</mat-icon>
                        <mat-icon *ngIf="isFavorite(movie)" style="transform:scale(1.5);" color="primary">favorite</mat-icon>
                    </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
