    <div>
        <nav>
            <button mat-button color="primary" (click)="redirectProfile()">User Profile</button>
            <button mat-button color="primary" (click)="logout()">Logout</button>
        </nav>
        <div style="display: flex;">
            <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
                <mat-card-header>
                    <mat-card-title>{{movie.Title}}</mat-card-title>
                    <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
                </mat-card-header>
                <div class="movie-container">
                    <img class="movie-card-img" src={{movie.ImagePath}} alt= {{movie.Title}}/>
                    <mat-card-actions>
                        <button
                        mat-button
                        color="primary"
                        (click)="showGenre(movie)">
                        Genre
                    </button>
                        <button
                        mat-button
                        color="primary"
                        (click)="showDirector(movie)">
                        Director
                    </button>
                        <button
                        mat-button
                        color="primary"
                        (click)="showDetail(movie)">
                        Synopsis
                    </button>
                    <mat-icon
                    (click)="addFavorites(movie.Title)">favorite_border</mat-icon>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
